<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Engineer 2013</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script>
//  document.location="http://www.engineer.org.in/2012";
    </script>
    <!-- Styles -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <link href="assets/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/theme.css" rel="stylesheet">
    <link href="assets/index.css" rel="stylesheet" media="screen">
    <link href="assets/bootstrap-overrides.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/animate.css" media="screen, projection">    
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="/assets/turn.min.js"></script>
</head>
<body class="pull_top">
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#"><img src="/assets/logo.png" width="50px" /><strong>ENGINEER 2013 COMING SOON!!</strong></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="index.html">ENGINEER 2012</a></li>
                    <li><a href="Marketing_Brochure.pdf" >BROCHURE</a></li>
                    <li><a href="http://blog.engineer.org.in" >BLOG</a></li>
            <li><a href="http://beachsideblues.com" >TheBeachSideBlues</a></li>
            <li><a href="http://nitk.ac.in">NITK, Surathkal</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <section id="feature_slider" class="disabled">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: url('/assets/engi4.jpg') repeat-x top center;background-position: 50% 30%;">
            <!-- img class="asset left-30 sp600 t120 z1" src="img/slides/scene1/macbook.png" /> -->
            <div class="info">
                <h2>Engineer</h2>
                <h3 style="color: white;">2013</h3>
            </div>
        </article>
        <article class="slide" id="ideas" style="background: url('/assets/led.jpg') repeat-x top center;">
            <div class="info">
                <h2 style="width: 200px;margin-left: 250px;margin-top: 50px;">Building in LED's Engineer</h2>
            </div>
            <!-- img class="asset left-480 sp600 t260 z1" src="img/slides/scene2/left.png" /> -->
            <!-- img class="asset left-210 sp600 t213 z2" src="img/slides/scene2/middle.png" /> -->
            <!-- img class="asset left60 sp600 t260 z1" src="img/slides/scene2/right.png" /> -->
        </article>
        <article class="slide" id="tour" style="background: url('/assets/bot2.jpg') top center;background-position: 60% 100%">
            <!-- img class="asset left-472 sp650 t210 z3" src="img/slides/scene3/ipad.png" /> -->
            <!-- img class="asset left-365 sp600 t270 z4" src="img/slides/scene3/iphone.png" /> -->
            <!-- img class="asset left-350 sp450 t135 z2" src="img/slides/scene3/desktop.png" /> -->
            <!-- img class="asset left-185 sp550 t220 z1" src="img/slides/scene3/macbook.png" /> -->
            <div class="info">
                <h2 style="margin-top: 150px;margin-left: -250px;width: 210px;">Velocity @ Engineer</h2>
                <!-- <a href="features.html">TOUR THE PRODUCT</a> -->
            </div>
        </article>
        <article class="slide" id="responsive" style="background: url('/assets/pen.jpg') repeat-x top center;background-position: 60% 100%">
            <!-- img class="asset left-472 sp600 t120 z3" src="img/slides/scene4/html5.png" /> -->
            <!-- img class="asset left-190 sp500 t120 z2" src="img/slides/scene4/css3.png" /> -->
            <div class="info">
                <h2 style="margin-left: 50px;margin-top: 100px;">
                    Creating new things <strong>Engineer</strong>
                </h2>                
            </div>
        </article>
        <article class="slide" id="lantern" style="background: url('/assets/lantern.jpg') repeat-x top center;background-position: 50% 10%;">
            <!--     img class="asset left-472 sp600 t120 z3" src="img/slides/scene4/html5.png" /> -->
            <!-- img class="asset left-190 sp500 t120 z2" src="img/slides/scene4/css3.png" /> -->
            <div class="info">
                <h2 style="margin-left: 100px;margin-top: 300px;color: white">
                    Latern @<strong>Engineer</strong>
                </h2>                
            </div>
        </article>   
        <article class="slide" id="demo" style="background: url('/assets/demo.jpg') repeat-x top center;background-position: 50% 55%;">
            <!-- img class="asset left-472 sp600 t120 z3" src="img/slides/scene4/html5.png" /> -->
            <!-- img class="asset left-190 sp500 t120 z2" src="img/slides/scene4/css3.png" /> -->
            <div class="info">
                <h2>
                    <!-- Responsive <strong>HTML5 & CSS3</strong>
                    Theme -->
                </h2>                
            </div>
        </article>
        <article class="slide" id="fall" style="background: url('/assets/fall.jpg') repeat-x top center;background-position: 50% 30%;">
            <!-- img class="asset left-472 sp600 t120 z3" src="img/slides/scene4/html5.png" /> -->
            <!-- img class="asset left-190 sp500 t120 z2" src="img/slides/scene4/css3.png" /> -->
            <div class="info">
                <h2>
                    <!-- Responsive <strong>HTML5 & CSS3</strong>
                    Theme -->
                </h2>                
            </div>
        </article>
        <article class="slide" id="car" style="background: url('/assets/car2.jpg') repeat-x top center;background-position: 50% 75%;">
            <!-- img class="asset left-472 sp600 t120 z3" src="img/slides/scene4/html5.png" /> -->
            <!-- img class="asset left-190 sp500 t120 z2" src="img/slides/scene4/css3.png" /> -->
            <div class="info">
                <h2>
                    <!-- Responsive <strong>HTML5 & CSS3</strong>
                    Theme -->
                </h2>                
            </div>
        </article>
   </section>

<!-- This the event's info page -->
<div id="showcase">
        <div class="container">
            <div class="section_header">
                <h3>Engineer events</h3>
                <div style="background-image:url(/assets/01.jpg);"></div>
            </div>            
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <% @events.each do |f| %>
                    <!-- Modal -->
                        <div id="<%= f.name %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-header">                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h2 id="myModalLabel"><%= f.name.capitalize %></h2> 
                                </div><!-- 
                                <div id="left_modal" style="width: 100px;display: inline-block">
                                    
                                </div> -->
                                <table>
                                    <tr>
                                        <td >
              <!--                               <ul class="nav nav-list bs-docs-sidenav affix">
          <li class="active"><a href="#typography"><i class="icon-chevron-right"></i> Typography</a></li>
          <li class=""><a href="#code"><i class="icon-chevron-right"></i> Code</a></li>
          <li class=""><a href="#tables"><i class="icon-chevron-right"></i> Tables</a></li>
          <li class=""><a href="#forms"><i class="icon-chevron-right"></i> Forms</a></li>
          <li><a href="#buttons"><i class="icon-chevron-right"></i> Buttons</a></li>
          <li><a href="#images"><i class="icon-chevron-right"></i> Images</a></li>
          <li><a href="#icons"><i class="icon-chevron-right"></i> Icons by Glyphicons</a></li>
        </ul>  --> 
                                    <ul class="nav nav-list bs-docs-sidenav affix">
                                    <% f.allevents.each do |g| %>
                                        <li class=""><i class="icon-chevron-right"></i>
                                            <a href="javascript:null" id="<%= g.name.gsub(/[^0-9A-Za-z]/, '')+f.name.gsub(/\s+/, "")+'click' %>"><%= g.name %>
                                            </a>
                                        </li>
                                    <% end %>
                                    </ul>
                                </td>
                                </td>
                                <td>
                            <div id="<%= f.name+'sider' %>" style="display: inline-block;width: 400px;overflow: scroll;">
                                <% f.allevents.each do |g| %>
                                    <div style="background-color: white;color: black;" > <h3><%= g.name %></h3> 
                                        <br>
                                        <%= simple_format(g.description) %>
                                    </div>
                                <% end %>
                            </div>
                        </td>
                            </tr>
                            </table>
                            <script type="text/javascript">
                                $("#<%= f.name+'sider' %>").turn({
                                    display: 'single',
                                    width: 400,
                                    height: 300,
                                    autoCenter: true
                                });
                                <% f.allevents.each do |g| %>
                                        $("#<%= g.name.gsub(/[^0-9A-Za-z]/, '')+f.name.gsub(/\s+/, "")+'click' %>").click(function() {
                                            // alert('sdkjbsdifjb');
                                            $("#<%= f.name+'sider' %>").turn("page", <%= f.allevents.index(g)+1 %>);
                                        });
                                <% end %>
                            </script>
                                <!-- <div class="modal-body">
                                  <h2>Events: </h2>
                                  <p>
                                    
                                  </p>
                                </div> -->
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    <div class="span4 feature first" style="margin-bottom: 30px;">
                        <div class="img_box">
                            <a data-toggle="modal" href="#<%= f.name %>">
                                <!-- <img src="img/service1.png"> -->
                                <img src="/assets/<%= f.name %>.jpg" width="258" height="164" />
                                <span class="circle"> 
                                        <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6 style="color: black;"><%= f.name.capitalize %></h6>
                            <p>
                                There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
                            </p>
                        </div>
                    </div>
                    <% if (@events.index(f)+1)%3 == 0 %>
                        </div>
                        <br><br>
                        <div class="features_op1_row">
                            
                    <% end %>
                    <% end %>
                    </div>
                </div>
            </div>
        <div class="container">
        <table class="table">
        <tr>
        <td style="width:400px">
                <h2>Engineer 2013</h2>
        <hr />
        <p style="margin: 0;font-size: 16px;line-height: 23px;">
Engineer is an annual technical symposium in India organized by <a href="http://nitk.ac.in">NITK Surathkal</a>. The event was started after the amalgamation of many technical festivals held at NITK Surathkal by student clubs. Held for the first time in 2005, it has consistently attracted participants from all over the India.<br /><br>
In its previous edition, Engineer brought organizations such as CERN, MIT Media and Bell labs while catering to a participation pool of over 6000 students from 150 colleges across 65 countries.<br /><br>
Guest speakers have included Richard Stallman, Sam Pitroda, Dr. Devi Shetty, Sir Anthony James Leggett, Ankit Fadia and other personalities.
</p>
    </td>
    <td>
            <h2>Previous Sponsors</h2>
        <hr />
        <img src="/assets/sponsor.jpg" style="box-shadow: 0px 0px 5px 1px black;"/>
    </td>
    </tr>
    </table>
    </div>
</div>
    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="span4 recent_posts ">
                    <h3 class="footer_header ">
                       Subscribe
                    </h3>
                    <div id="subscribe_form"></div>      
                    <div class="post contact">
                        <%= form_for(@subscribe) do |f| %>
                    <!-- <form action="/subscribes" method="post"> -->
                    <%= f.text_field :email ,placeholder: "Email Id" %> 
            <!-- <input name="email" type="email" placeholder="Email to Subscribe" />  -->
            <!-- <input name="commit" type="submit" value="Submit" id="button" /> -->
                    <%= f.submit "Subscribe" %> 
                    <% end %>
                    </div>
                    <!-- <div class="post">
                        <a href="blogpost.html">
                            <img src="/assets/recent_post2.png" class="img-circle">
                        </a>
                        <div class="date">
                            Mon, 12 Dec
                        </div>
                        <a href="blogpost.html" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div> -->
                </div>
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        Contact us
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>“</span>
                            Email: contactus@engineer.org,in
                            Address of NITK Surathkal here
                            <span></span>
                        </div>
                        <div class="author">
                            <img src="/assets/user-display.png">
                            <div class="name">Convenor name</div>
                            <div class="info">
                                His details
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <div id="message_form"></div>
                    <%= form_for(@contact) do |f| %>
                    <!-- <form action="/contact" method="post"> -->
                        <%= f.text_field :name , placeholder: "Your name" %>
                        <!-- <input type="text" placeholder="Your name"> -->
                        <%= f.text_field :email, placeholder: "Your email" %>
                        <%= f.text_area :message , {placeholder: "Message" , rows: 3 } %>
                        <%= f.submit "Submit" %>
                        <% end %>
                        <!-- <input type="text" placeholder="Your email">
                        <textarea rows="3" placeholder="Message"></textarea> -->
                        <!-- <input type="submit" value="Send"> -->
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="http://www.facebook.com/EngineerNITK" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="http://twitter.com/EngineerNITK" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a><!-- 
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a> -->
                <!--
                            <a href="#" class="pinterest">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                            <a href="#" class="behance">
                                <span class="socialicons ico7"></span>
                                <span class="socialicons_h ico7h"></span>
                            </a>-->
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            © Engineer 2013. All rights reserved.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>
    <script src="/assets/index-slider.js"></script>
    <script src="/assets/theme.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script>
    //To send the contact
    $("#new_contact").submit(function(event){
        // alert('in');
        var value = $(this).serialize();
        event.preventDefault();

        $('input[type="submit"]').attr('disabled','disabled');
        $('#message_form').html('Submitting');
        $('#message_form').removeClass("alert alert-error alert-success alert-info");
        $('#message_form').addClass('alert alert-info');
        request = $.ajax({
            url: "/contacts.json",
            type: "post",
            data: value ,
            success: function(){
              // alert("success");
               $('#message_form').removeClass("alert alert-error alert-success alert-info");
               $("#message_form").html('Submitted successfully');
               // $('#message').css('class','alert alert-success')
               $("#message_form").addClass("alert alert-success");
               $('input[type="submit"]').removeAttr('disabled');
            },
            error:function(){
              // alert("failure");
              $('#message_form').removeClass("alert alert-error alert-success alert-info");
              $("#message_form").html('There was some error while submitting');
              $('#message_form').addClass("alert alert-error");
              $('input[type="submit"]').removeAttr('disabled');
              // $('#message').css('class','alert alert-error')
            }   
        }); 
    });
    $("#new_subscribe").submit(function(event){
        // alert('in');
        var value = $(this).serialize();
        event.preventDefault();
        $('input[type="submit"]').attr('disabled','disabled');
        $('#subscribe_form').html('Submitting');
        $('#subscribe_form').removeClass("alert alert-error alert-success alert-info");
        $('#subscribe_form').addClass('alert alert-info');
        request = $.ajax({
            url: "/subscribes.json",
            type: "post",
            data: value ,
            success: function(){
              // alert("success");
               $("#subscribe_form").html('Submitted successfully');
               // $('#message').css('class','alert alert-success')
               $('#subscribe_form').removeClass("alert alert-error alert-success alert-info");
               $("#subscribe_form").addClass("alert alert-success");
               $('input[type="submit"]').removeAttr('disabled');
            },
            error:function(){
              // alert("failure");
              $("#subscribe_form").html('There was some error while submitting');
              $('#subscribe_form').removeClass("alert alert-error alert-success alert-info");
              $('#subscribe_form').addClass("alert alert-error");
              $('input[type="submit"]').removeAttr('disabled');
              // $('#message').css('class','alert alert-error')
            }   
        }); 
    });
// $('input[type="submit"]').removeAttr('disabled');
    </script>
</body></html>